.item {
    padding: 10px 0 10px 0;
    display: flex;
    text-align: center;
    margin-top: 10px;
  }
  
  .item .type, .item .amount {
    flex-basis: 20%;
  }
  
  .item .description {
    flex-basis: 35%;
  }
  
  .button {
    flex-basis: 25%;
    align-items: center;
    text-align: center;
  }
  
  .button button {
    margin: 0 8px 0 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color:aqua;
    border-color: aqua;
    height: 30px;
    width: 60px;
  }
  
  .button button:active {
    transform: scale(0.95);
  }